# Python
__pycache__/
*.pyc

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.pem

# Helm and Kubernetes
*.tgz

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
